somiod/XSD/Container.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Container">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:int" minOccurs="1" />
				<xs:element name="Name" type="xs:string" minOccurs="1" />
				<xs:element name="CreationDateTime" type="xs:dateTime" minOccurs="1" />
				<xs:element name="Parent" type="xs:int" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>


